/* Setting general properties */

:root {
    font-size: 62.5%;
    --primary:
    --primary-hover:
    --secondary:
    --secondary-hover:
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    color: white;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Nunito Sans', 'Nunito', sans-serif;
}

body {
    background-color: #1D1B33;
}


/* Removing number input spinner on chrome, safari, edge and opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removing number input spinner on firefox */
input[type=number] {
  -moz-appearance: textfield;
}