body .container {
    display: flex;
    justify-content: center;
    margin: clamp(2rem, 2vw, 10rem) clamp(2rem, 5vw, 25rem);
}

body .container #calc {
    max-width: 36rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body .container #calc header {
    display: flex;
    flex-direction: column;
}

body .container #calc header .header-title {
    display: flex;
    flex-direction: row;
}

body .container #calc header .header-title h1 {
    font-size:4.8rem;
    font-weight: 700;
    margin-right: 1rem;
    animation: swipe-left 0.75s ease-in-out;
}

body .container #calc header .header-title img {
    width: 5rem;
    height: 5rem;
    animation: fly-in 0.75s ease-in-out;
}

body .container #calc header .header-description {

    /* Flex properties */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Font properties */
    font-weight: 200;
    font-size: 2.4rem;

    /* Structural properties */
    width: 36rem;
    height: 4.4rem;

    /* General properties */
    border-radius: 1rem;
    background: linear-gradient(180deg, #FE0866 0%, #FF6254 100%);
    animation: fly-in 0.75s ease-in-out;

}

body .container #calc #app {
    display: flex;
    flex-direction: column;
    margin: 4rem 0rem;
}

body .container #calc #app #input-fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    animation: swipe-right 0.75s ease-in-out;
}

body .container #calc #app #input-fieldset label {
    font-size: 2.4rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

body .container #calc #app #input-fieldset input {

    /* Structural properties */
    width: 36rem;
    height: 6rem;
    padding: 1.2rem 2rem;
    margin-bottom: 2rem;

    /* Font properties */
    color: #868686;
    font-weight: 200;
    font-size: 2.4rem;

    /* General properties */
    border-radius: 1rem;
    border: 3px solid #FF5F55;
}

body .container #calc #app #output-fieldset {
    animation: zoom 0.75s ease-in-out;
}

body .container #calc #app #output-fieldset label {
    font-size: 2.4rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
}

body .container #calc #app #output-fieldset .input-block  {
    display: flex;
    position: relative;
}

body .container #calc #app #output-fieldset .input-block input {

    /* Structural properties */
    width: 36rem;
    height: 6rem;
    padding: 1.2rem 2rem;
    padding-right: 6rem;
    background-color: #443D63;

    /* Font properties */
    color: #6C689F;
    font-weight: 200;
    font-size: 2.4rem;

    /* General properties */
    border: none;
    border-radius: 1rem;
    cursor: not-allowed;
}

body .container #calc #app #output-fieldset .input-block .clipboard {

    /* Structural properties */
    width: 2.7rem;
    height: 3.1rem;
    
    /* Backgrund properties */
    background-size: 100%;
    background-image: url(/public/images/icons/copy.svg);

    /* Position properties */
    position: absolute;
    top: 1.3rem;
    right: 5.5rem;

    /* General properties */
    cursor: pointer;
}

body .container #calc #app #output-fieldset .input-block .save {

    /* Structural properties */
    width: 2.7rem;
    height: 2.6rem;
    
    /* Backgrund properties */
    background-size: 100%;
    background-image: url(/public/images/icons/save.svg);

    /* Position properties */
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    /* General properties */
    cursor: pointer;
}

body .container #calc .extra  {
    display: flex;
    width: 36rem;
    justify-content: space-between;
}

body .container #calc .extra .swap  {
    display: flex;
    align-items: center;
    cursor: pointer;
    animation: swipe-left 0.75s ease-in-out;
}

body .container #calc .extra .history {
    display: flex;
    align-items: center;
    cursor: pointer;
    animation: swipe-right 0.75s ease-in-out;
}

body .container #calc .extra .swap .icon, body .container #calc .extra .history .icon {
    
    /* Structural properties */
    width: 4.4rem;
    height: 4.4rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(0deg, #FE0866 0%, #FF6254 100%);

    /* Flex properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

body .container #calc .extra .swap span, body .container #calc .extra .history span {
    font-weight: 200;
    font-size: 2.4rem;
}

body .container #calc .cookies-alert {

    /* Structural properties */
    width: 95rem;
    height: 8.5rem;
    margin-top: 7.5rem;
    border-radius: 1rem;
    background-color: #292645;

    /* Flex properties */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body .container #calc .cookies-alert .text-area {
    width: 59rem;
    font-weight: 400;
    font-size: 1.8rem;
}

body .container #calc .cookies-alert .accept-button button {

    /* Structural properties */
    width: 26.5rem;
    height: 5rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    background: linear-gradient(180deg, #FE0A66 0%, #FF5A56 100%);

    /* Font properties */
    font-size: 1.8rem;
    font-weight: 200;
}

/* History tab */
.history-tab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    display: none;
    overflow-y: auto;
    background: #1D1B33;
    flex-direction: column;
    animation: zoom-in 0.75s ease-in-out;
}

.history-tab .container .close-btn {
    position: absolute;
    right: clamp(1rem, 5vw, 10rem);
    top: clamp(2rem, 2vw, 8rem);
}

.history-tab .container .close-btn img {
    width: clamp(1.5rem, 3vw, 3.0rem);
    cursor: pointer;
}

.history-tab .container .saved-items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: clamp(15rem, 95vw, 150rem);
}

.history-tab .container .saved-items .no-items-found {
    font-size: 2.4rem;
    font-weight: 200;
}

.history-tab .container .saved-items .item {
    width: clamp(15rem, 20vw, 30rem);
    display: flex;
    margin-right: clamp(1rem, 5vw, 3rem);
    margin-bottom: clamp(1rem, 15vw, 4rem);
}

.history-tab .container .saved-items .item .vertical-bar {
    width: clamp(0.1rem, 1vw, 1.2rem);
    height: clamp(5rem, 20vw, 14rem);
    margin-right: clamp(1rem, 5vw, 5rem);
    border-radius: clamp(0.5rem, 2.5vw, 2.5rem);
    background: linear-gradient(180deg, #FE0C66 0%, #FF6055 100%);
}

.history-tab .container .saved-items .item .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history-tab .container .saved-items .item .data .binary {
    display: flex;
    flex-direction: column;
}

.history-tab .container .saved-items .item .data .binary .title {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
}

.history-tab .container .saved-items .item .data .binary .value {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    font-weight: 200;
    color: #676397;
}

.history-tab .container .saved-items .item .data .decimal {
    display: flex;
    flex-direction: column;
}


.history-tab .container .saved-items .item .data .decimal .title {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
}

.history-tab .container .saved-items .item .data .decimal .value {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    font-weight: 200;
    color: #676397;
}

/* Notifications */

body .notifications {

    /* Flex properties */
    display: flex;
    flex-direction: column;

    /* Position properties */
    top: 3.8rem;
    right: 3.8rem;
    position: absolute;

}

.failure-message {
    width: clamp(10rem, 25vw, 37rem);
    height: 7.2rem;
    margin-bottom: 3rem;
    animation: fade-out 5s ease-in-out forwards;
}

.failure-message .box {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: clamp(10rem, 25vw, 37rem);
    height: 5.2rem; 
    border-radius: 0.5rem; 
    background: linear-gradient(90deg, #FE0D65 0%, #FF5856 99.55%);
}

.failure-message .box.large-box {
    height: 7rem;
}

.failure-message .box span {
    font-size: 2rem; 
    font-weight: 400; 
    margin: 0rem 2rem; 
    width: 25rem
}

.failure-message .box img {
    margin: 0rem 2rem; 
    cursor: pointer;
}

.failure-message .progress-bar {
    width: clamp(10rem, 25vw, 37rem);
    height: 1rem; 
    margin: 1rem 0rem; 
    background-color: #443D63; 
    border-radius: 0.5rem;
}

.failure-message .progress-bar .current-progress {
    width: 65%; 
    height: 1rem; 
    border-radius: 0.5rem; 
    background: linear-gradient(0deg, #FF5B55 0%, #FE0F64 121.75%); 
    animation: condense 5s ease-in-out forwards;
}

.success-message {
    width: clamp(10rem, 25vw, 37rem);
    height: 7.2rem;
    margin-bottom: 3rem;
    animation: fade-out 5s ease-in-out forwards;
}

.success-message .box {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: clamp(10rem, 25vw, 37rem);
    height: 5.2rem; 
    border-radius: 0.5rem; 
    background: linear-gradient(90deg, #05A65B 0%, #88DE52 99.55%);
}

.success-message .box.large-box {
    height: 7rem;
}

.success-message .box span {
    font-size: 2rem; 
    font-weight: 400; 
    margin: 0rem 2rem; 
    width: 25rem
}

.success-message .box img {
    margin: 0rem 2rem; 
    cursor: pointer;
}

.success-message .progress-bar {
    width: clamp(10rem, 25vw, 37rem);
    height: 1rem; 
    margin: 1rem 0rem; 
    background-color: #443D63; 
    border-radius: 0.5rem;
}

.success-message .progress-bar .current-progress {
    width: 65%; 
    height: 1rem; 
    border-radius: 0.5rem; 
    background: linear-gradient(0deg, #05A65B 0%, #88DE52 121.75%);
    animation: condense 5s ease-in-out forwards;
}